<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Files2Gallery/webroot
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
